AWS_ACCESS_KEY_ID=YOUR_AWS_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_AWS_SECRET_KEY
AWS_REGION=ap-south-1
AWS_BUCKET_NAME=YOUR_BUCKET_NAME

REDIS_HOST=localhost
REDIS_PORT=6379

CELERY_BROKER_URL=pyamqp://guest:guest@localhost//
CELERY_RESULT_BACKEND=rpc://